// Here you can add other styles

::-webkit-scrollbar {
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 0.375rem;
}

::-webkit-scrollbar-thumb {
  background: #dfdfdf;
  height: 0.625rem;
  border-radius: 0.375rem;
}

.px-20 {
  padding: 0 1.25rem;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}
